.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

:root {
  --color-dark-purple: #24053e;
  --color-eucalyptus: #44ffa1;
  --color-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #ffffff;
  --ff-head: "Fraunces", serif;
  --ff-base: "Manrope", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --content-max-width: 34.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

img {
  display: block;
}

body {
  overflow-x: hidden;
}

@media only screen and (min-width: 48em) {
  :root {
    --content-max-width: 69rem;
  }
}
@media only screen and (min-width: 90em) {
  :root {
    --content-max-width: 111rem;
  }
}
.heading-3, .heading-2, .heading-1 {
  font-family: var(--ff-head);
  font-weight: var(--fw-semi-bold);
}

.heading-1 {
  font-size: 5rem;
  line-height: 5rem;
}
@media only screen and (min-width: 48em) {
  .heading-1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media only screen and (min-width: 90em) {
  .heading-1 {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}
@media only screen and (min-width: 48em) {
  .heading-2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}
@media only screen and (min-width: 90em) {
  .heading-2 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

.heading-3 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}
@media only screen and (min-width: 90em) {
  .heading-3 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

.paragraph {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media only screen and (min-width: 90em) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

.btn-secondary:link,
.btn-secondary:visited, .btn-primary:link,
.btn-primary:visited {
  display: inline-block;
  text-decoration: none;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.02rem;
  cursor: pointer;
}
@media only screen and (min-width: 90em) {
  .btn-secondary:link,
  .btn-secondary:visited, .btn-primary:link,
  .btn-primary:visited {
    font-size: 1.8rem;
  }
}

.btn-primary:link,
.btn-primary:visited {
  color: var(--color-dark-purple);
  background-color: var(--color-eucalyptus);
  border: 0.2rem solid var(--color-eucalyptus);
  padding: 0.95rem 2.2rem;
  transition: background-color 0.25s ease-out;
}
@media only screen and (min-width: 90em) {
  .btn-primary:link,
  .btn-primary:visited {
    padding: 1.25rem 3.05rem;
  }
}

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  color: var(--color-eucalyptus);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--color-white);
  border-bottom: 0.3rem solid var(--color-eucalyptus);
  transition: color 0.25s ease-out;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--color-eucalyptus);
}

.feature-card {
  color: var(--color-dark-purple);
  display: flex;
  flex-direction: column;
  row-gap: 2.9rem;
}
@media only screen and (min-width: 48em) {
  .feature-card {
    flex-direction: row;
    column-gap: 5rem;
    align-items: center;
  }
}
@media only screen and (min-width: 90em) {
  .feature-card {
    flex-direction: column;
    row-gap: 6.4rem;
    flex: 0 0 35.4rem;
  }
}
.feature-card__number {
  font-size: 2rem;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 90em) {
  .feature-card__number {
    font-size: 2.4rem;
  }
}
.feature-card__number::after {
  content: "";
  width: 4.6rem;
  height: 4.6rem;
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 90em) {
  .feature-card__number::after {
    width: 5.4rem;
    height: 5.4rem;
  }
}
.feature-card__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .feature-card__content {
    text-align: left;
  }
}
@media only screen and (min-width: 90em) {
  .feature-card__content {
    text-align: center;
    row-gap: 2.8rem;
  }
}
.feature-card__description {
  color: var(--color-grey);
}

.hero {
  position: absolute;
  width: 100%;
  top: 38.9rem;
  display: grid;
  place-content: center;
  z-index: 3;
}
@media only screen and (min-width: 48em) {
  .hero {
    top: 39.2rem;
  }
}
@media only screen and (min-width: 90em) {
  .hero {
    top: 45.4rem;
  }
}
.hero__image {
  width: 29.8rem;
  height: 17.8rem;
}
@media only screen and (min-width: 48em) {
  .hero__image {
    width: 47.9rem;
    height: 28.7rem;
  }
}
@media only screen and (min-width: 90em) {
  .hero__image {
    width: 71.5rem;
    height: 42.7rem;
  }
}

.header {
  background-color: var(--color-dark-purple);
  clip-path: circle(267vw at 50% calc(100% - 267vw));
  position: relative;
  z-index: 2;
}
.header__content {
  position: relative;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 3.2rem 0 15.6rem 0;
  display: grid;
  row-gap: 6.4rem;
}
@media only screen and (min-width: 48em) {
  .header__content {
    padding-bottom: 20.3rem;
    row-gap: 5.6rem;
  }
  .header__content::before {
    content: "";
    position: absolute;
    left: -26.6rem;
    top: 7.1rem;
    width: 34.1rem;
    height: 31.7rem;
    background: url("../assets/images/bg-pattern-1.svg");
  }
  .header__content::after {
    content: "";
    position: absolute;
    right: -13.3rem;
    top: 25rem;
    width: 17.4rem;
    height: 18.1rem;
    background: url("../assets/images/bg-pattern-2.svg");
  }
}
@media only screen and (min-width: 90em) {
  .header__content {
    padding: 5.6rem 0 32.6rem 0;
    row-gap: 5.5rem;
  }
  .header__content::before {
    left: -30.3rem;
    top: 11.6rem;
  }
  .header__content::after {
    right: -21.3rem;
    top: 31.4rem;
  }
}
.header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}
@media only screen and (min-width: 48em) {
  .header__cta {
    padding: 0 12rem 0 12rem;
    row-gap: 3.9rem;
  }
}
@media only screen and (min-width: 90em) {
  .header__cta {
    padding: 0 24rem 0 24rem;
    row-gap: 3.7rem;
  }
}
.header__heading {
  color: var(--color-white);
  text-align: center;
}
.header__heading .underline {
  position: relative;
}
.header__heading .underline::after {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  background-color: var(--color-eucalyptus);
}

.features {
  background-color: var(--color-ghost-white);
  clip-path: circle(267vw at 50% calc(100% - 267vw));
  position: relative;
  z-index: 1;
}
.features::before {
  content: "";
  background-color: inherit;
  width: 100%;
  height: 10vw;
  position: absolute;
  top: -10vw;
}
.features__content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 16.1rem 0 7.2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
}
@media only screen and (min-width: 48em) {
  .features__content {
    padding: 20.4rem 7.7rem 10.3rem 7.7rem;
    row-gap: 4.8rem;
  }
}
@media only screen and (min-width: 90em) {
  .features__content {
    padding: 26.3rem 0 17.1rem 0;
    flex-direction: row;
    column-gap: 2.6rem;
  }
}

.memo__content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 9.9rem 0 7.4rem 0;
  display: grid;
  grid-template-rows: 22.8rem 1fr;
  justify-items: center;
}
@media only screen and (min-width: 48em) {
  .memo__content {
    padding: 10rem 0 8rem 0;
    grid-template-rows: 15.1rem 1fr;
    grid-template-columns: 17.5rem 1fr;
    justify-items: left;
  }
}
@media only screen and (min-width: 90em) {
  .memo__content {
    padding: 11rem 0 12.2rem 0;
    grid-template-rows: 17.3rem 1fr;
    grid-template-columns: 38.2rem 1fr;
  }
}
.memo__image {
  width: 28.1rem;
  height: 28.1rem;
}
@media only screen and (min-width: 48em) {
  .memo__image {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
@media only screen and (min-width: 90em) {
  .memo__image {
    width: 47.7rem;
    height: 47.7rem;
  }
}
.memo__card {
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  text-align: center;
  padding: 3.2rem 3.1rem;
  position: relative;
}
@media only screen and (min-width: 48em) {
  .memo__card {
    text-align: left;
    padding: 4.8rem 5.6rem 5.6rem 5.6rem;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .memo__card::after {
    content: "";
    position: absolute;
    right: 1.3rem;
    bottom: -10.6rem;
    width: 22.1rem;
    height: 21.2rem;
    background: url("../assets/images/bg-pattern-3.svg");
  }
}
@media only screen and (min-width: 90em) {
  .memo__card {
    padding: 6.4rem;
  }
  .memo__card::after {
    right: 7.3rem;
    bottom: -6.2rem;
  }
}
.memo__heading {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 48em) {
  .memo__heading {
    margin-bottom: 2.4rem;
  }
}
@media only screen and (min-width: 90em) {
  .memo__heading {
    margin-bottom: 3.2rem;
  }
}
.memo__text {
  margin-bottom: 2.4rem;
}
@media only screen and (min-width: 90em) {
  .memo__text {
    margin-bottom: 3.2rem;
  }
}

.footer__content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 5.4rem;
  padding-bottom: 6.4rem;
}
@media only screen and (min-width: 48em) {
  .footer__content {
    padding-bottom: 12.2rem;
  }
}
@media only screen and (min-width: 90em) {
  .footer__content {
    padding-bottom: 11rem;
  }
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  column-gap: 2.65rem;
}
.social-links__link:link, .social-links__link:visited {
  font-size: 2.3rem;
  color: var(--color-grey);
  transition: color 0.25s ease-out;
  cursor: pointer;
}
.social-links__link:hover, .social-links__link:active {
  color: var(--color-dark-purple);
}

/*# sourceMappingURL=style.css.map */
