%heading {
    font-family: var(--ff-head);
    font-weight: var(--fw-semi-bold);
}

.heading-1 {
    @extend %heading;
    font-size: 5rem;
    line-height: 5rem;

    @include media-screen-min($bp-tablet) {
        font-size: 6rem;
        line-height: 6rem;
    }

    @include media-screen-min($bp-desktop) {
        font-size: 8rem;
        line-height: 8rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 3.2rem;
    line-height: 4.8rem;

    @include media-screen-min($bp-tablet) {
        font-size: 4.8rem;
        line-height: 5.6rem;
    }

    @include media-screen-min($bp-desktop) {
        font-size: 5.6rem;
        line-height: 6.4rem;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2.8rem;
    line-height: 3.6rem;

    @include media-screen-min($bp-desktop) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

.paragraph {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1.6rem;
    line-height: 2.8rem;

    @include media-screen-min($bp-desktop) {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
}
